//
// Main
//

// Object
.o-main {
    position: relative;
    padding: 0 !important;
    z-index: 1;
    height: 100vh;
    overflow-y: auto;

    // Menu (burger)
    &__menu-toggle {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 20px;
        color: #fff;
        background-color: $ui-primary;
        padding: 5px 10px;
        z-index: 2;

        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
}
